@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
  * {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body 
  {
    background-color: white;
    color: #fff;
    padding-bottom:10%;
  }
  .sec {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../images/newspaper-background-concept.jpg");
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center center;
  }
  .form-container {
    position: absolute;
    top: 70%;
    left: 50%;
    /* padding: 0px; */
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    opacity: 90%;
    width: 480px;
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
  }

  .form-container1 {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    margin : auto;
    color:black;
    /* padding: 0px; */
    /* transform: translate(-50%, -50%); */
    background-color: #FFFBEB;
    color: black;
    /* opacity: 90%; */
    /* width: 50%; */
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
  }

  .form-container2 {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    margin : auto;
    color:black;
    /* padding: 0px; */
    /* transform: translate(-50%, -50%); */
    background-color: #FFFBEB;
    color: black;
    width:50%;
    /* opacity: 90%; */
    /* width: 50%; */
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
  }
  .form-container3 {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    margin : auto;
    color:black;
    /* padding: 0px; */
    /* transform: translate(-50%, -50%); */
    background-color: #FFFBEB;
    color: black;
    width:50%;
    /* height: 100%
; */
    /* opacity: 90%; */
    /* width: 50%; */
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
  }
  h1 {
    text-transform: uppercase;
    /* font-size: 2em; */
    text-align: center;
    margin-bottom: 1em;
  }
  .control input {
    background-color: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border-bottom: 1px solid #000000;
    border-width: 0 0 2px;
    border-radius: 4px;
    outline: none;
    margin: 1em 0;
  }
  .control input[type="submit"] {
    background: #263159;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    
    
  }
  
button{
  cursor: pointer;
  outline: 0;
  color: #AAA;

}

.btn:focus {
  outline: none;
}

.green{
  /* background-color: green; */
  color: green;
}

.red{
  color: red;
}

  .control input[type="submit"]:hover {
    opacity: 1;
  }

input,
input::placeholder {
    font-size: 15px;
}

.control textarea {
  background-color: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  width: 100%;
  display: block;
  padding: 10px;
  color: #222;
  border: none;
  border-radius: 4px;
  outline: none;
  margin: 1em 0;
}
.control textarea[type="submit"] {
  background: #B6AD90;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.control textarea[type="submit"]:hover {
  opacity: 1;
}

textarea,
textarea::placeholder {
  font-size: 15px;
}

.control select {
  background-color: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  width: 100%;
  display: block;
  padding: 10px;
  color: #222;
  border: none;
  border-radius: 4px;
  outline: none;
  margin: 1em 0;
}
.control select[type="submit"] {
  background: #B6AD90;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.control select[type="submit"]:hover {
  opacity: 1;
}

select,
select::placeholder {
  font-size: 15px;
}


  .link {
    text-align: center;
  }
  .link a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  .link a:hover {
    opacity: 1;
  }
  #passstage{
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  }
  .txt{
    text-decoration: none;
    color:#333333;
  }
  .txt:hover{
      color: rgb(0, 0, 0);
  }
  .abs{
    text-decoration: none;
  }
.abs:hover{
  text-decoration: none;
  color: white;
}
.na{
  font-size: 16px;
}

.modalbutton{
  background-color: lightblue;
  border-radius: 0.4rem;
  padding:5%;
  /* margin:3%; */
  width:100%;
  color: white;
  text-align: center;
}

.modalviewer{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

.modalcontent{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


.closeBtn:hover,
.closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor: pointer;
}