<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="../static/css/style1.css">
	<link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
</head>

<body>
    <section class="sec">
        <a href="../templates/index.html" class="logo" style="font-size: 3.5rem;color: #FFFBEB; text-decoration: none;margin-bottom:3%;"><img
            src="../static/images/logo.png"
            style="height: 8%; display:inline;">NEWSIFY</a>

		<!-- <a href="#" class="logo" style="text-transform: lowercase;font-size: 2rem; display: inline-block;"><img
				src="images/onlysquirrel1.png"
				style="height: 100px; filter: brightness(100); padding-bottom: 5px; display: inline-block;">bookbuddy</a> -->

		<div class="form-container2" >
			<h1 class="login-text">Login</h1>
			<form>
				<div class="control">
					<label for="email" class="login-text">Username</label>
					<input type="text" class="" name="email" id="username"  value="">
					<span class="">

					</span>
				</div>
				<div class="control">
					<label for="psw" class="login-text">Password</label>
					<input type="password" class="login-text" placeholder="********" name="password" minlength="8" maxlength="14"
						id="password" required>
					<span class="">
						
					</span>
				</div>
				<a href="javascript:showHide();" class="txt">
					<i class="fa fa-eye" id="eye"><span id="passstage"> Show</span></i>
				</a>
				<div class="control">
					<input class="" type="submit" value="Login" onclick="submitUser(event)">
				</div>
			</form>
			<div class="link">
				<a href="register.html">Don't have an account? Sign up</a>
			</div>
		</div>
	</section>
</body>
<script src="../static/js/showHide.js"></script>
<script src="../static/js/script.js"></script>

</html>